<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Web Application</display-name>

    <context-param>
        <param-name>appName</param-name>
        <param-value>hello-world</param-value>
    </context-param>

    <servlet>
        <servlet-name>helloWorld</servlet-name>
        <servlet-class>com.example.application.HelloWorld</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloWorld</servlet-name>
        <url-pattern>/helloWorld</url-pattern>
    </servlet-mapping>

</web-app>
